* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    /* 사용할수 있는만큼 다써라 */
    width: 100%;
    /* height의 속성값을 무효 
    vh = veiwport의 높이의 100%
    */
    min-width: 1200px;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #666;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
.content {
    position: relative;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
    min-width: 600px;
}
.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p {
    color: #555;
    font-weight: 600;
}
.content .textBox a {
    display: inline-block;
    color: #fff;
    background: #017143;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}
.content .textBox a:hover {
    background: #014422;
}

.content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    padding-right: 100px;

}
.content .imgBox img {
    max-width: 400px;
}
.thumbs {
    min-width: 450px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.thumbs li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.thumbs li img {
    max-width: 80px;
    transition: all 0.2s;
}
.thumbs li img:hover {
    transform: translateY(-20px);
}
.sci {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 10px auto;
    transform: scale(0.7);
    filter: invert();
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(700px at right 1000px);
}